{{> header}}

<section class="header-section">
  <video class="header-section__big-video" playsinline autoplay muted loop poster="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="big_video" style="visibility:none;" onplay="var s=this;setTimeout(function(){s.style.visibility='visible';},100);">
    <source src="https://s3.amazonaws.com/static.northplay.co/background-loop.mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/static.northplay.co/background-loop.webm" type="video/webm">
  </video>

  {{> navigation "rgba(255, 255, 255, 0.6)" }}

  <div class="header">
    {{{img "header-logo.png" "header__logo"}}}
    <div class="header__weare">We are Northplay. <br>An Entertainment <br>Design Studio.</div>
    <div class="header__team">A small passionate team of highly specialized individuals<br>making unique digital products that entertain.</div>
    <a href="mailto:hey@northplay.co" class="header__talk">Let's talk</a>
  </div>

  <div class="header-section__gradient"></div>
</section>

<style>
{{#each data.products }}
  {{#each style as |rules selector|}}
    {{selector}} {
    {{#each rules as |value name|}}
      {{name}}: {{value}};
    {{/each}}
    }
  {{/each}}
{{/each}}
</style>

{{#each data.products }}
<section class="product-section product-section--{{id}}" style="background-color: {{tint}}">
  <div class="product product--{{id}}">
    <div class="product__preview">
      {{#if video}}
        <video style="background-color: {{tint}};" class="startPlaybackWhenInView" id="video_{{id}}">
          {{#each video as |src type|}}
            <source src="{{src}}" type="{{type}}">
          {{/each}}
        </video>
      {{else}}
        <img src="/images/product-preview-{{id}}.png" data-at2x="/images/product-preview-{{id}}_2x.png">
      {{/if}}
    </div>
    <div class="product__info animateWhenInView">
      <a href="/{{id}}" class="product__icon">
        <img src="/images/product-icon-{{id}}.png" data-at2x="/images/product-icon-{{id}}_2x.png" alt="{{name}} App icon">
      </a>
      <div class="product__name">{{name}}</div>
      <div class="product__description">{{description}}</div>
      <a href="/{{id}}" class="product__learn-more">Learn more</a>
      <div class="product__publisher">{{publisher}}</div>
    </div>
  </div>
</section>
{{/each}}

{{!-- === PRODUCT END === Conduct THIS! === --}}

<section class="wedo-section">
  <div class="wedo">
    <div class="wedo__thing">
      {{{img "wedo-games.png" "wedo__icon"}}}
      <div class="wedo__title">Games</div>
      <div class="wedo__text">
        We make games and gamified content for multiple platforms. Building fun and addictive experiences is a key to unlocking entirely new ways of engaging with your audience. We’re experts in fun.
      </div>
    </div>

    <div class="wedo__thing">
      {{{img "wedo-design.png" "wedo__icon"}}}
      <div class="wedo__title">Design</div>
      <div class="wedo__text">
        Design is at the core of everything we do. Every single product that we come into contact with is carefully worked on with skillful, opiniated craftsmanship. We design award winning interfaces, icons and logos for clients around the world.
      </div>
    </div>

    <div class="wedo__thing">
      {{{img "wedo-apps.png" "wedo__icon"}}}
      <div class="wedo__title">Apps</div>
      <div class="wedo__text">
        We’ve been making mobile applications for years, working on a long string of succesful apps for multiple platforms. We help our partners create memorable and unique experiences that are both well designed and solidly engineered.
      </div>
    </div>
  </div>
</section>


{{> newsletter}}
{{> footer}}
