{{> header}}

<section class="header-section">
  <video class="header-section__big-video" playsinline autoplay muted loop poster="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" id="big_video" style="visibility:none;" onplay="var s=this;setTimeout(function(){s.style.visibility='visible';},100);">
    <source src="https://s3.amazonaws.com/static.northplay.co/background-loop.mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/static.northplay.co/background-loop.webm" type="video/webm">
  </video>

  {{> navigation "rgba(255, 255, 255, 0.6)" }}

  <div class="header">
    {{{img "header-logo.png" "header__logo"}}}
    <div class="header__weare">We are Northplay. <br>An Entertainment <br>Design Studio.</div>
    <div class="header__team">A small passionate team of highly specialized individuals<br> making unique digital products that entertain.</div>
    <a href="mailto:hey@northplay.co" class="header__talk">Let's talk</a>
  </div>

  <div class="header-section__gradient"></div>
</section>

<style>
{{#each data.products }}
  {{#each style as |rules selector|}}
    {{selector}} {
    {{#each rules as |value name|}}
      {{name}}: {{value}};
    {{/each}}
    }
  {{/each}}
{{/each}}
</style>

{{#each data.products }}
{{#if published}}
  <section class="product-section product-section--{{id}}" style="background-color: {{tint}}">
    <div class="product-section__transition"></div>
    <div class="product product--{{id}}">
      {{#ifCond id "conductthis"}}
        <div class="product__preview product__preview--conductthis">
          <div class="tiles animateWhenInView">
          <img src="/images/product-conductthis-island-1.png" class="tile tile1" />
          <img src="/images/product-conductthis-island-2.png" class="tile tile2" />
          <img src="/images/product-conductthis-island-3.png" class="tile tile3" />
          <img src="/images/product-conductthis-island-4.png" class="tile tile4" />
          <img src="/images/product-conductthis-island-5.png" class="tile tile5" />
          <img src="/images/product-conductthis-island-6.png" class="tile tile6" />
          <img src="/images/product-conductthis-island-7.png" class="tile tile7" />
        </div>
        </div>
      {{else}}
        <div class="product__preview animateWhenInView">
          <img src="/images/product-preview-{{id}}_2x.png" alt="{{name}} preview" />
        </div>
      {{/ifCond}}
      <div class="product__info animateWhenInView">
        <a href="/{{id}}" class="product__icon">
          <img src="/images/product-icon-{{id}}.png" data-at2x="/images/product-icon-{{id}}_2x.png" alt="{{name}} App icon">
        </a>
      <div class="product__name">{{name}}</div>
        <div class="product__description">{{description}}</div>
          <a href="/{{id}}" class="product__learn-more">Learn more</a>
          <div class="product__publisher">
            {{#ifCond publisher "Self Published"}}
              {{publisher}}
            {{else}}
              Made for {{publisher}}
            {{/ifCond}}
          </div>
        </div>
      </div>
  </section>
{{/if}}
{{/each}}

{{> needateam}}
{{> wedo}}
{{> newsletter}}
{{> footer}}
