{{> header}}
{{> product}}

<section class="product-start">
  {{> details data.product}}
  <div class="product-start__content">
    <h2 id="child_universe">A Child's Universe</h2>
    <p>MinBio is Nordisk Film’s childrens universe. A subscription gives you access to all the latest and greatest TV series and movies for kids in Danish. A wonderfully rich and themed interface let’s kids and parents navigate their own little cinema, complete with draping curtains and flowing art on stage.</p>
    <p>We built their native tvOS and iOS apps, both of which are filled with custom elements and details that make interactions sweeter and administration for parents easier. In Short, we’ve helped Nordisk Film bring their fantastic universe to Apple’s platforms in a way that truly enriches the experience.</p>
  </div>
</section>

<section class="product-page">
  <div class="product-page__content">
    {{{img "case-minbio-devices.jpg"}}}
    <div>&nbsp;</div><div>&nbsp;</div>
    {{{img "case-minbio-appicon.jpg"}}}
  </div>
</section>

<section class="minbio-journey">
  <div class="minbio-journey__part minbio-journey__part--discovery">
    <div class="minbio-journey__gif">
      {{{img "case-minbio-journey-2.gif" "gif" false }}}
    </div>
    <div class="minbio-journey__text">
      <h3>Visual Discovery</h3>
      <p>Smooth scrolling of colorful artwork makes it easier for kids to discover their next favorite thing.</p>
    </div>
  </div>
  <div class="minbio-journey__part minbio-journey__part--interface">
    <div class="minbio-journey__gif">
      {{{img "case-minbio-journey-1.gif" "gif" false }}}
    </div>
    <div class="minbio-journey__text">
      <h3>Rich Interface</h3>
      <p>Animations in the interface creates a visual universe that is enticing and fun while never letting the user loose their sense of place.</p>
    </div>
  </div>
  <div class="minbio-journey__part minbio-journey__part--parents">
    <div class="minbio-journey__gif">
      {{{img "case-minbio-journey-3.gif" "gif" false }}}
    </div>
    <div class="minbio-journey__text">
      <h3>For Parents</h3>
      <p>Important things like settings and acocunt details are hidden away from view and requires clever gestures for parents to unlock.</p>
    </div>
  </div>
</section>

<section class="product-page">
  <div class="product-page__content">
    <video playsinline autoplay muted loop>
      <source src="https://s3.amazonaws.com/static.northplay.co/minbio.mp4" type="video/mp4">
    </video>
  </div>
</section>

{{> needateam}}
{{> wedo}}
{{> newsletter}}
{{> footer}}
