<style>
{{#each data.product.pageStyle as |rules selector|}}
  {{selector}} {
  {{#each rules as |value name|}}
    {{name}}: {{value}};
  {{/each}}
  }
{{/each}}
</style>

<section class="header-section header-section--product-page">
  {{> navigation data.product.fill }}
  <div class="header-section__product product-header">
    <div class="product-header__content">
      <div class="product-header__name">{{data.product.name}}</div>
      <div class="product-header__tagline">{{data.product.tagline}}</div>
      <div class="product-header__links">
        {{#each data.product.headerLinks as |link text|}}
          <a href="{{link}}" class="product-header__link smooth-scroll">{{{text}}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</section>
