<style>
{{#each data.product.pageStyle as |rules selector|}}
  {{selector}} {
  {{#each rules as |value name|}}
    {{name}}: {{value}};
  {{/each}}
  }
{{/each}}
</style>

<section class="header-section header-section--product-page">
  {{> navigation data.product.fill }}
  <div class="header-section__product product-header">
    <div class="product-header__content">
      <div class="product-header__name">{{data.product.name}}</div>
      <div class="product-header__tagline">{{data.product.tagline}}</div>
    </div>
  </div>
</section>

<section class="product-page">
  <div class="product-page__details product-detail">
    <div class="product-detail__icon">
      <img src="/images/product-icon-{{data.product.id}}.png" data-at2x="/images/product-icon-{{data.product.id}}_2x.png" alt="{{name}} App icon">
    </div>

    <div class="product-detail__title">Client</div>
    <div class="product-detail__value">{{data.product.publisher}}</div>

    <div class="product-detail__title">What we did</div>
    <div class="product-detail__value">{{data.product.wemade}}</div>

    <div class="product-detail__title">Links</div>
    {{#each data.product.links as |link name|}}
      <a href="{{link}}" class="product-detail__link" target="_blank">{{name}}</a>
    {{/each}}
  </div>

  <div class="product-page__content">
